<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Dashboard</title>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/justgage.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/data_visualise.js') }}"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">
    <style>
        .leaflet-retina .leaflet-control-layers-toggle {
            background-image: url({{ url_for('static', filename='images/layers-2x.png') }});
            }
        .leaflet-control-layers-toggle {
            background-image: url({{ url_for('static', filename='images/layers.png') }});
            }
        .leaflet-default-icon-path {
	        background-image: url({{ url_for('static', filename='images/marker-icon.png') }});
	        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">Smart Farm System</a>
        <div class="mr-2">
            <i class="fas fa-user-circle"></i>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row p-3 card-group">
            <div class="card col-7 px-0">
                <div id="sensor_map" style="height: 100%" class="card-body"></div>
            </div>
            <div class="col-5 card">
                <div class="row card-header">
                    <div class="col-6">
                        <h3 class="mb-0 text-center">Sensor 1</h3>
                    </div>
                    <div class="col-3 align-self-center">
                        <i class="fas fa-battery-three-quarters d-inline"></i>
                        <p class="d-inline">68%</p>
                    </div>
                    <div class="col-3 align-self-center">
                        <i class="fas fa-signal d-inline"></i>
                        <p class="d-inline">Good</p>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="text-center">Soil Moisture Content</h5>
                    <div id="soil_humidity_gauge"></div>
                    <h5 class="text-center">Soil Leaching Likelihood</h5>
                    <div id="soil_leaching_gauge"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <h3 class="card-header text-center">Soil Conditions</h3>
            <div class="row card-body">
                <div class="col-4">
                    <canvas id="soil_humidity_graph"></canvas>
                </div>
                <div class="col-4">
                    <canvas id="soil_temperature_graph"></canvas>
                </div>
                <div class="col-4">
                    <canvas id="soil_ph_graph"></canvas>
                </div>
            </div>
        </div>
        <div class="card">
            <h3 class="card-header text-center">Ambient Conditions</h3>
            <div class="row card-body"></div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>